<div class="modal" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirm</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="confirmYes(confirmData)">Yes</button>
                <button type="button" class="btn btn-default" ng-click="confirmClose()">Close</button>
            </div>
        </div>
    </div>
</div>